[Unit]
Description=Datatool
After=network.target

[Service]
User=datatool
WorkingDirectory=/home/datatool/git/datatool
ExecStart=/home/datatool/git/datatool/.venv/bin/waitress-serve --port=8080 datatool_project.wsgi:application

[Install]
WantedBy=multi-user.target
